<!-- contains the about information section -->
<div>
    <h2 class="text-2xl">Overview</h2>
    <p>
        Project Quantum Games (Q-Games for short) is a project started in 2025 
        that aims to implement quantum protocols for classical games such as
        Tic-Tac-Toe, Checkers, and Chess.
    </p>
    <br><br>

    <h2 class="text-2xl">Approach</h2>
    <div>
        <h3 class="text-xl underline mt-2">Tic-Tac-Toe</h3>
        <p>
            Tic-Tac-Toe was approached first since it is one of the
            simplest classic games and has the fewest number of states.
        </p>
    </div>
</div>